@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: rgba(143, 124, 236, 0.7);
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container{
    overflow: hidden;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 400px;
    max-width: 100%;
}

.header{
    background-color: #F7f7f7;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
}

.header h2{
    margin: 0;
}

.form{
    padding: 30px 40px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    font-size: 0.9rem;
    font-family: inherit;
    padding: 10px;
}

.form-control input:focus{
    outline: 0;
    border-color: #777;
}

.form-control.sucess input{
    border-color: #2ecc71;
}

.form-control i {
    position: absolute;
    top: 37px;
    right: 10px;
    visibility: hidden;
}

.form-control.sucess i.fa-check-circle{
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle,
.form-control.error small,
.form-control.error input{
    color: #e74c3c;
}

.form-control.error small{
    visibility: visible;
}

.form-control small{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.form button{
    background-color: #8e44ad;
    border: 2px solid #8e44ad;
    border-radius: 4px;
    color: #FFF;
    font-family: inherit;
    font-size: 1rem;
    display: block;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    transition: .5s;
}

.form button:hover{
    scale: 1.1;
}